* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-section {
    background-image: url("Assets/Gallery/Neon_Gaz.jpg");
    background-position: center top -100px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    width: 100vw;
    background-size: cover;
}

.img-section {
    max-width: 600px;
}